<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Add book</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-input placeholder="Book name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="string" placeholder="Writer"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="string" value="Enter image url"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="string" placeholder="Synopsys"></ion-input>
    </ion-item>
    <ion-item>
      <ion-select label="Rate book" placeholder="Your book rating">
        <ion-select-option value="1">1</ion-select-option>
        <ion-select-option value="2">2</ion-select-option>
        <ion-select-option value="3">3</ion-select-option>
        <ion-select-option value="4">4</ion-select-option>
        <ion-select-option value="5">5</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-content>
